<%- include("partials/header"); -%>

<div class="text-center w-50 my-auto">
    <h1 class=" siteLogoColor mb-5 mt-5">E-Commerce</h1>
</div>
<div class="w-25 mx-auto">
    <h1 class="textColor">Böyle Bir Sayfamız Mevcut Değildir.</h1>
</div>

<%- include("partials/footer"); -%>