<%- include("partials/header"); -%>

<div class="w-25 mx-auto mt-5">
    <form action="/admin/login" method="POST">
        <div class="mb-3 text-center">
            <label for="exampleInputEmail1" class="form-label text-center">User Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username">
        </div>
        <div class="mb-3 text-center">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="userpassword">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-outline-success ">Giriş Yap</button>
        </div>
    </form>
</div>

<%- include("partials/footer"); -%>