<%- include("partials/header"); -%>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5 d-flex justify-content-center align-items-center">
          <a class="navbar-brand" href="/">
            <span class="fw-bolder text-primary">Simple E-Commerce</span>
          </a>
          <div class="navbar-text ms-auto">
            <a href="/basket" class="me-3 mr-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-cart-plus ml-5" viewBox="0 0 16 16">
                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
              <li class="nav-item"><a class="nav-link" href="/">Projects</a></li>
              <li class="nav-item"><a class="nav-link" href="/">İletişim</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>

    <div class="w-25 mx-auto mb-5 mt-3">
        <div class="card">
            <h5 class="card-header">Sepetin</h5>
            <div class="card-body">
              <p class="card-text fw-bolder">Lorem ipsum sit dolar amet. Baskılı tişört</p>
              Güncel Sepet Tutarı : <a href="" class="btn btn-success">500 TL</a>
            </div>
          </div>
    </div>

    
    <div class="w-50 mx-auto">
        <form action="/order" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-info fs-4">Kişisel Bilgiler</p>
                    <div class="mb-3">
                        <label for="name" class="form-label" >Ad</label>
                        <input type="tel" class="form-control" id="name" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label">Soyad</label>
                        <input type="tel" class="form-control" id="surname" name="surname">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" name="useremail">
                    </div>
                    <div class="mb-3">
                        <label for="ss" class="form-label">Telefon No</label>
                        <input type="tel" class="form-control" id="ss"  name="userphone">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Adres Bilgileri</label>
                      <input type="email" class="form-control" id="exampleInputEmail1"
                          aria-describedby="emailHelp" name="useradress" placeholder="Şehir / İlçe / Sokak / Bina">
                  </div>
                </div>
                <div class="col-md-6">
                    <p class="text-info fs-4">Kart Bilgileri</p>
                    <div class="mb-3">
                        <label for="cardName" class="form-label">Kart Üzerinde Yazan İsim</label>
                        <input type="tel" class="form-control" id="cardName" name="cardname">
                    </div>
                    <div class="mb-3">
                        <label for="cardNumber" class="form-label">Kart Numarası</label>
                        <input type="number" class="form-control" id="cardNumber" name="cardnumber">
                    </div>
                    <div class="mb-3">
                        <label for="securityCode" class="form-label">Güvenlik Kodu</label>
                        <input type="tel" class="form-control" id="securityCode" name="cardcvv">
                    </div>
                    <div class="mb-3">
                        <label for="expirationDate" class="form-label">Son Kullanma Tarihi</label>
                        <input type="tel" class="form-control" id="expirationDate" name="carddate">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mx-auto d-block">Siparişi Tamamla</button>
        </form>
    </div>

    <%- include("partials/footer"); -%>