<%- include("partials/header"); -%>
<%- include("layouts/navbar"); -%>

  <div class="row row-cols-md-3 row-cols-1 w-75 mx-auto">
    <div class="col">
      <img src="img/3.jpg" class="img-fluid mt-5 mb-2" alt="...">
      <p class="text-dark">Lorem ipsum sit dolar amet.</p>
      <button class="btn btn-outline-success">Sepete Ekle</button>
      <span class="text-dark float-end fs-5">500 TL</span>
    </div>

    <div class="col">
      <img src="img/1.jpg" class="img-fluid mt-5 mb-2" alt="...">
      <p class="text-dark">Lorem ipsum sit dolar amet.</p>
      <button class="btn btn-outline-success">Sepete Ekle</button>
      <span class="text-dark float-end fs-5">500 TL</span>
    </div>

    <div class="col">
      <img src="img/2.jpg" class="img-fluid mt-5 mb-2" alt="...">
      <p class="text-dark">Lorem ipsum sit dolar amet.</p>
      <button class="btn btn-outline-success">Sepete Ekle</button>
      <span class="text-dark float-end fs-5">500 TL</span>
    </div>
  </div>

 



  <%- include("layouts/footer"); -%>
  <%- include("partials/footer"); -%>


